<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.xiaochun.mapper.DailyIncomeMapper">
    <resultMap id="dailyIncomeVo" type="com.example.xiaochun.model.vo.DailyIncomeVo">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="sales_count" property="salesCount"/>
        <result column="sales_price" property="salesPrice"/>
        <result column="cash_receivable" property="cashReceivable"/>
        <result column="cash_receipts" property="cashReceipts"/>
        <result column="card_income" property="cardIncome"/>
        <result column="we_chat_income" property="weChatIncome"/>
        <result column="ticket_reduce" property="ticketReduce"/>
        <result column="balance" property="balance"/>
        <result column="tally" property="tally"/>
        <result column="fund" property="fund"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="operator" property="operator"/>
    </resultMap>

    <select id="selectListAndPage" resultMap="dailyIncomeVo">
        SELECT * FROM sm_daily_income t order by date asc
    </select>
</mapper>