<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.xiaochun.mapper.StaffInfoMapper">
    <resultMap id="staffInfoVo" type="com.example.xiaochun.model.vo.StaffInfoVo">
        <id column="id" property="id"/>
        <result column="staff_code" property="staffCode"/>
        <result column="name" property="name"/>
        <result column="position_code" property="positionCode"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="belongs_code" property="belongsCode"/>
        <result column="link_way" property="linkWay"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <select id="selectListAndPage" resultMap="staffInfoVo">
        SELECT * FROM sm_staff_info t order by staff_code asc
    </select>

    <select id="selectMaxStaffCode" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT max(staff_code) FROM sm_staff_info t where belongs_code = #{belongsCode}
    </select>
</mapper>